<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <!-- 使用注解式注入 -->
    <context:annotation-config/>
    <!-- 自动扫描 -->
    <context:component-scan base-package="com.ldw">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- 导入DAO配置 -->
    <import resource="spring-dao.xml"/>
    <!-- 导入数据库配置 -->
    <import resource="spring-db.xml"/>
    <!-- 导入数据库事务配置 -->
    <import resource="spring-tx.xml"/>
    <!--定时器任务-->
    <import resource="time-schedules.xml"/>
    <!--excel表格的导入导出-->
    <bean id="exportData" class="com.ldw.importOrOutData.ExportData"/>

    <!--全局异常处理-->
    <bean id="handlerException" class="com.ldw.globalException.GlobExceprionHandler"/>
</beans>