<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy proxy-target-class="false"/>   <!--当为true时表示使用cglib代理，当为false时使用jdk代理-->
    <!--<bean id="aopClass" class="com.ldw.aop.AopClass"/>-->
    <!--    <aop:config>
            <aop:aspect id="asp" ref="aopClass">
                    <aop:pointcut id="pointCut" expression="execution(* com.ldw.controler.TestController.test())"/>
                    <aop:before method="aopMethod" pointcut-ref="pointCut" />
                    <aop:after method="aopMethod" pointcut-ref="pointCut" />
            </aop:aspect>
        </aop:config>-->
</beans>